
/* --------------通用法則----------------------- */
.round{
    border-radius: 50%;
}
.red{
    color: #c8423f;
}
.c444{
    color: #444;
}
.bold{
    font-weight: bold;
}
.fz1{
    font-size: 1rem;
}
.tac{
    text-align: center;
}
.lh30{
    line-height: 30px;
}
.bdr10{
    border-radius: 10px;
}
.mx380{
    max-width: 380px;
}

/* --------------header----------------------- */

/* --------------section----------------------- */
.bannerIce img{
    border-radius: 10px;
}
.newsh3{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.menu{
    background-color: #e3242b;
    color: white;
    
}