
/* --------------通用法則----------------------- */
.round{
    border-radius: 50%;
}

/* --------------header----------------------- */

/* --------------section----------------------- */
.bannerIce img{
    border-radius: 10px;
}
.newsh3{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.round{
    
}